{% extends "template.html" %}


{% block picword %}Basic Webmap with Calgary Open Data{% endblock %}

{% block sidecontent %}
<h3>Purpose: </h3>
<br>
<p>Find the closest clinic/hospital to a school. </p>
<hr>

<p> School Name: <span id="schoolname"></span></p>
<hr>
<p>Closest Hospital/Clinic: <span id="hospitalname"></span></p>

<hr>
<h3>Requirements: </h3>
<br>
<p>

  1. Map: When a user visit the site, they should be able to see two layers, i.e., a layer of Calgary schools and a layer of Calgary clinics and hospitals.
  <br>
  2. Analysis: When a user clicks on a school, the map will show which clinic or hospital is nearest.
  <br>
  3. Mapping Library: You can use any mapping library of your choice. You can stay with Leaflet or you can simply follow Mapbox tutorial and use Mapbox GL.</p>

{% endblock %}



{% block rightHeader %}

<h3>Map</h3>

{% endblock %}




{% block imagecontent %}

<style>
    #map { height: 600px; }
    
</style>







<div id = "map">
    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
</div>




{% endblock %}