
h1{
    color: red;
    text-align: center;
}
div.ex1{
    width: max-content;
    height: 180;
    margin:auto;
    background-color: darkslategrey;
}

.container2 {
    position: relative;
    text-align: center;
    color:  white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bottomcenter{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}


  div.AboutPage {
    width:max-content;
    height: 200;
    margin:auto;
    background-color:  darkslategrey;

  }

 .navbar{
     background-color: darkslategray;
     display:flex;
 }

 .navbar a:hover{
     background-color: White;
     color: black;
 }
 .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  @media (max-width: 700px) {
      .navbar {   
      flex-direction: column;
    }
  }


  table{
    border: 2px solid black;
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
}

